<div>
  <div>
    <h3>{{event_name}}</h3>
  </div>
  <p>Location: {{location_name}}</p>
  <p>Date: {{date}}</p>
  <p>Price: ${{price}}</p>
  <p>Type: {{type}}</p>
  <p>Description: {{event_description}}</p>
  <div>
    <button><a href='/event/{{event_id}}/edit'>Edit Event</a></button>
  </div>
  <form method='POST' action='/events/delete'>
    <input type='hidden' name='id' value='{{event_id}}' />
    <button class='delete'>Delete event</button>
  </form>
</div>