{{#each events}}
  <h3><a href='/event/{{event_id}}'>{{event_name}}</a></h3>
  <p>Location: {{location_name}}</p>
  <p>Date: {{date}}</p>
  <p>Price: ${{price}}</p>
  <p>Type: {{type}}</p>
  <p>Description: {{event_description}}</p>
{{/each}}
<div>
  <button class='btn' name='add' value='Submit'><a href='/events/add'>Add Event</a></button>
</div>