<div>
  <div>
    <h3>{{event_name}}</h3>
  </div>
  <p>Location: {{location_name}}</p>
  <p>Date: {{date}}</p>
  <p>Price: ${{price}}</p>
  <p>Type: {{type}}</p>
  <p>Description: {{event_description}}</p>
</div>